.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
# ignore sapflow data for now until we have a good update system
Data/sapflow/
R_scripts/some tests.R
R_scripts/token.rds
R_scripts/TEMPESTdash/droptoken.rds
R_scripts/tempfile.dat
R_scripts/TDash/tempfile.dat
R_scripts/TEMPESTdash/tempfile.dat
R_scripts/TEMPESTdash/tempfile.dat
Lysimeter/token.rds
*.dat
